<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Beak and Lens Photography is run by Marvin Johanning, a hobbyist wildlife (mostly birds) photographer from Bielefeld, Germany">
	
    <title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="stylesheet" href="/assets/css/gallery.css">

		<script src="/assets/lazy.js"></script>
  </head>
  
	<body>
		<header>
			{% include header.html %}
			
			<fieldset class="separator-styled radius"></fieldset>
			
			<div align="center">
				<h1 style="margin-bottom: 0;">Beak and Lens Photography</h1>
				<h3 style="margin: 0;">Wildlife and Bird Photography — by Marvin Johanning</h3>
			<br>
			
			<img src="/assets/images/header.jpg", width="600", height="350">
			<br>
			<i>A Yellow-Winged Pytilia at the Berlin Zoo</i>
			<br>
			</div>
		</header>
		
		<div class="article">
			<p>Welcome to Beak and Lens Photography. Beak and Lens Photography is run by Marvin Johanning, a hobbyist wildlife (mostly birds) photographer from Bielefeld, Germany. I am also on <img src="/assets/icons/instagram.png" width="16" height="16"> <a href="https://www.instagram.com/beakandlens/">Instagram</a>, <img src="/assets/icons/mastodon.png" width="16" height="16"> <a href="https://birds.town/@mjohanning">Mastodon</a> and <img src="/assets/icons/flickr.png" width="16" height="16"> <a href="https://www.flickr.com/photos/mjohanning/">Flickr</a>! For more information about me, see the About page. If you want to see some of my favourite photos in a rather random order, just continue scrolling down! Once you reach the end, you can click the button to see all of my photos or simply click the <a href="/gallery">Gallery</a> link in the menu at the top left. </p>

			<p>Please note that this page is still a <b><u>work in progress</u></b> as of {{ 'now' | date: "%d.%m.%Y" }}. Expect frequent (weekly or even daily) updates to the site's design, new page additions and more for a while. More information can be found in the <a href="/updates/">Update Blog</a>.</p>
		</div>
		
		<div class="separator">
			<img src="/assets/icons/oystercatcher.png">
				PHOTO SELECTION
			<img src="/assets/icons/oystercatcher.png">
		</div>

		{% include gallery-home.html %}
		<div class="gallery-button">
			<a href="/gallery" class="button button1">Click to see more</a>
		</div>

		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>